{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "classes": true
    }
  },
  "env": {
    "browser": true,
    "mocha": true,
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-confusing-arrow": 0,
    "react/jsx-filename-extension": 0,
    "react/sort-prop-types": [1, {"requiredFirst": true}]
  },
  "globals": {
    "expect": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
          "config": "./webpack.config.js"
      }
    }
  }
}
